.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/2.14.1/tasks/_ijkplayer_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/2.14.1/tasks/_ijkplayer_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/2.14.1/tasks/_ijkplayer_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/2.14.1/tasks/_ijkplayer_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/2.14.1/tasks/_ijkplayer_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/2.14.1/tasks/_ijkplayer_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/2.14.1/tasks/_ijkplayer_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/2.14.1/tasks/_ijkplayer_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_analyticslib_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_analyticslib_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_analyticslib_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_analyticslib_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_analyticslib_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_analyticslib_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_analyticslib_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_analyticslib_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_app_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_app_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_app_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_app_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_filemanagerlib_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_filemanagerlib_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_filemanagerlib_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_filemanagerlib_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_filemanagerlib_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_filemanagerlib_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_filemanagerlib_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_filemanagerlib_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_ijkplayer_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_ijkplayer_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_ijkplayer_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_ijkplayer_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_ijkplayer_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_ijkplayer_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_ijkplayer_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_ijkplayer_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_imageloaderlib_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_imageloaderlib_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_imageloaderlib_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_imageloaderlib_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_imageloaderlib_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_imageloaderlib_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_imageloaderlib_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_imageloaderlib_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_library_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_library_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_library_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_library_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_library_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_library_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_library_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_library_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_networklib_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_networklib_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_networklib_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_networklib_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_networklib_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_networklib_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_networklib_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_networklib_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_SlideBack_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_SlideBack_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_SlideBack_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_SlideBack_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_SlideBack_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_SlideBack_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_SlideBack_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_SlideBack_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_SmallVideoLib2_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_SmallVideoLib2_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_SmallVideoLib2_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_SmallVideoLib2_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_SmallVideoLib2_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_SmallVideoLib2_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_SmallVideoLib2_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_SmallVideoLib2_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/4.1/fileChanges/last-build.bin
.gradle/4.1/fileContent/fileContent.lock
.gradle/4.1/fileHashes/fileHashes.bin
.gradle/4.1/fileHashes/fileHashes.lock
.gradle/4.1/fileHashes/resourceHashesCache.bin
.gradle/4.1/javaCompile/classAnalysis.bin
.gradle/4.1/javaCompile/jarAnalysis.bin
.gradle/4.1/javaCompile/javaCompile.lock
.gradle/4.1/javaCompile/taskHistory.bin
.gradle/4.1/javaCompile/taskJars.bin
.gradle/4.1/taskHistory/fileSnapshots.bin
.gradle/4.1/taskHistory/taskHistory.bin
.gradle/4.1/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/built.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/cache.properties.lock
.idea/workspace.xml
.idea/libraries/__local_aars____Users_admin_AndroidStudioProjects_VideoPlayer_support_libs_SocialSDK_QQ_Simplify_jar_unspecified_jar.xml
.idea/libraries/__local_aars____Users_admin_AndroidStudioProjects_VideoPlayer_support_libs_SocialSDK_Sina_Simplify_jar_unspecified_jar.xml
.idea/libraries/__local_aars____Users_admin_AndroidStudioProjects_VideoPlayer_support_libs_SocialSDK_WeChat_Simplify_jar_unspecified_jar.xml
.idea/libraries/__local_aars____Users_admin_AndroidStudioProjects_VideoPlayer_support_libs_umeng_shareboard_widget_jar_unspecified_jar.xml
.idea/libraries/__local_aars____Users_admin_AndroidStudioProjects_VideoPlayer_support_libs_umeng_social_api_jar_unspecified_jar.xml
.idea/libraries/__local_aars____Users_admin_AndroidStudioProjects_VideoPlayer_support_libs_umeng_social_net_jar_unspecified_jar.xml
.idea/libraries/__local_aars____Users_admin_AndroidStudioProjects_VideoPlayer_support_libs_umeng_social_shareboard_jar_unspecified_jar.xml
.idea/libraries/__local_aars____Users_admin_AndroidStudioProjects_VideoPlayer_support_libs_umeng_social_shareview_jar_unspecified_jar.xml
.idea/libraries/__local_aars____Users_admin_AndroidStudioProjects_VideoPlayer_support_libs_umeng_social_tool_jar_unspecified_jar.xml
.idea/libraries/__local_aars____Users_admin_AndroidStudioProjects_VideoPlayer_support_libs_wechat_sdk_android_without_mta_1_3_4_jar_unspecified_jar.xml
.idea/libraries/__local_aars____Users_admin_Downloads_adt_bundle_mac_x86_64_20140702_sdk_build_tools_26_0_2_renderscript_lib_renderscript_v8_jar_unspecified_jar.xml
.idea/libraries/com_alibaba_fastjson_1_1_62_android_jar.xml
.idea/libraries/com_android_support_animated_vector_drawable_25_1_0.xml
.idea/libraries/com_android_support_animated_vector_drawable_25_3_1.xml
.idea/libraries/com_android_support_appcompat_v7_25_1_0.xml
.idea/libraries/com_android_support_appcompat_v7_25_3_1.xml
.idea/libraries/com_android_support_cardview_v7_25_3_1.xml
.idea/libraries/com_android_support_design_25_3_1.xml
.idea/libraries/com_android_support_multidex_1_0_1.xml
.idea/libraries/com_android_support_multidex_1_0_2.xml
.idea/libraries/com_android_support_preference_v14_25_3_1.xml
.idea/libraries/com_android_support_preference_v7_25_1_0.xml
.idea/libraries/com_android_support_preference_v7_25_3_1.xml
.idea/libraries/com_android_support_recyclerview_v7_25_1_0.xml
.idea/libraries/com_android_support_recyclerview_v7_25_3_1.xml
.idea/libraries/com_android_support_support_annotations_25_1_0_jar.xml
.idea/libraries/com_android_support_support_annotations_25_3_1_jar.xml
.idea/libraries/com_android_support_support_compat_25_1_0.xml
.idea/libraries/com_android_support_support_compat_25_3_1.xml
.idea/libraries/com_android_support_support_core_ui_25_1_0.xml
.idea/libraries/com_android_support_support_core_ui_25_3_1.xml
.idea/libraries/com_android_support_support_core_utils_25_1_0.xml
.idea/libraries/com_android_support_support_core_utils_25_3_1.xml
.idea/libraries/com_android_support_support_fragment_25_1_0.xml
.idea/libraries/com_android_support_support_fragment_25_3_1.xml
.idea/libraries/com_android_support_support_media_compat_25_1_0.xml
.idea/libraries/com_android_support_support_media_compat_25_3_1.xml
.idea/libraries/com_android_support_support_v13_25_3_1.xml
.idea/libraries/com_android_support_support_v4_25_1_0.xml
.idea/libraries/com_android_support_support_v4_25_3_1.xml
.idea/libraries/com_android_support_support_vector_drawable_25_1_0.xml
.idea/libraries/com_android_support_support_vector_drawable_25_3_1.xml
.idea/libraries/com_android_support_transition_25_3_1.xml
.idea/libraries/com_github_bumptech_glide_glide_3_7_0_jar.xml
.idea/libraries/com_github_chrisbanes_PhotoView_1_3_1.xml
.idea/libraries/com_github_CymChad_BaseRecyclerViewAdapterHelper_2_8_0.xml
.idea/libraries/com_google_android_exoplayer_exoplayer_r1_5_8.xml
.idea/libraries/com_google_guava_guava_18_0_jar.xml
.idea/libraries/com_jakewharton_butterknife_8_5_1.xml
.idea/libraries/com_jakewharton_butterknife_annotations_8_5_1_jar.xml
.idea/libraries/com_mcxiaoke_gradle_packer_helper_1_0_7_jar.xml
.idea/libraries/com_squareup_okhttp3_okhttp_3_7_0_jar.xml
.idea/libraries/com_squareup_okio_okio_1_12_0_jar.xml
.idea/libraries/com_umeng_analytics_analytics_6_1_2_jar.xml
.idea/libraries/com_yarolegovich_discrete_scrollview_1_2_0.xml
.idea/libraries/com_zhy_okhttputils_2_6_2.xml
.idea/libraries/io_reactivex_rxandroid_1_2_1.xml
.idea/libraries/io_reactivex_rxjava_1_2_1_jar.xml
.idea/libraries/org_greenrobot_eventbus_3_0_0_jar.xml
.idea/libraries/org_greenrobot_greendao_3_2_0_jar.xml
.idea/libraries/org_greenrobot_greendao_api_3_2_0_jar.xml
