<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.filemanager.lib">

    <!-- 网络权限以及网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 从sdcard中读取数据的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".activity.MainFragmentActivity"
            android:theme="@style/AppTheme.OverlapSystemBar" />
    </application>


</manifest>
