<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.goldplusgold.analyticslib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59b501b2f29d9861f0000536" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Wandoujia" />
    </application>

</manifest>
